
.container{
    padding-top: 200px;
}

.mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 100%;
}

.header{
    text-align:center;
}

.full-width{
    width:80%;
}

.forgot-password{
    padding-left: 0px;
}

.email-input{
    padding-top: 10px;
}

a{
    text-decoration: none;
}

